body{
    background: linear-gradient(90deg, rgba(20,206,228,1) 7%, rgba(20,164,228,1) 93%);
}
#main{

    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 2%; 
}

#main #nav h2{
    margin: auto;
    margin-left: 4%;
    
    
   
}

#main #nav p{
    margin-left: 80%;
}

#main #nav h1{
    margin: auto;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

